
{
    // ESLint Configuration Files enables to include comments.
    // http://eslint.org/docs/configuring/#comments-in-configuration-files

    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "modules": true
    },

    "env": {
        "browser": true,
        "node": true
    }
}
