<!doctype html>
<html>
  <head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>...</title>

  <link rel="stylesheet" href="<%= path("css/bootstrap.css") %>">
  <link rel="stylesheet" href="<%= path("css/style.css") %>">

  </head>
  <body>

  <aside id="sidebar"></aside>
  <div id="main"></div>

  <script src="<%= path("dist/shout.min.js") %>"></script>

  <script>
  var shout = <%= shout %>;
  </script>

  </body>
</html>
