html,
body {
  height: 100%;
}
body {
	background: #fff;
}
input {
	width: 100%;
}
button {
	background: none;
	border: 0;
	outline: 0;
	padding: 0;
}
#sidebar {
	border-right: 1px solid #eee;
	color: #536f90;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 240px;
	padding: 20px;
}
#main {
	background: #fff;
	position: absolute;
	left: 240px;
	top: 0;
	right: 0;
	bottom: 0;
}
#start button {
	background: #999;
	color: #fff;
	border-radius: 3px;
	display: block;
	margin-bottom: 10px;
	padding: 12px 16px;
	width: 100%;
}
#start button:hover {
	background: #888;
}
#start .mode {
	max-width: 280px;
	margin: 20% auto 0;
}
#start .mode .login {
	background: #fff;
	color: #888;
}
#start .mode .login:hover {
	color: #666;
}
#login {
	max-width: 280px;
	margin: 17.5% auto 0;
}
#login label {
	display: block;
	margin-bottom: 14px;
}
#login input {
	border: 1px solid #ccc;
	border-radius: 2px;
	margin-top: 2px;
	padding: 10px 14px;
}
#login button {
	background: #999;
	color: #fff;
	border-radius: 3px;
	display: block;
	padding: 12px 16px;
	margin-top: 24px;
	width: 100px;
}
#login button:hover {
	background: #666;
}
#connect {
	margin-top: 20%;
	text-align: center;
}
