html,
body {
  height: 100%;
}

body {
}

button {
	background: none;
	border: 0;
	outline: 0;
	padding: 0;
}

#sidebar {
	background: #eee;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 240px;
	padding: 20px;
}

#main {
	background: #fff;
	position: absolute;
	left: 240px;
	top: 0;
	right: 0;
	bottom: 0;
	transition: left .4s;
}

#main .lt {
	background: url(../img/toggle.png) no-repeat;
	background-position: 5px 5px;
	display: none;
	width: 28px;
	height: 24px;
	margin: 20px;
}

#shade {
	display: none;
	background: rgba(255, 255, 255, .8);
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
}

@media (max-width: 480px) {
	#main {
		left: 0;
	}

	#main .lt {
		display: inline-block;
	}

	.lt #main {
		left: 240px;
	}

	.lt #shade {
		display: block;
	}
}
